.left-right-side {
  display: flex;
  flex: 1;
}

.icon {
  width: 25%;
  height: 25%;
  object-fit: cover;
}

.news-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  min-height: 100px;
  background: linear-gradient(180deg, rgba(0,0,0,.3), rgba(0,0,0,.2));
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.news-title {
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
}

.carousel-indicators [data-bs-target] {
  background-color: white !important;
 }

.carousel-indicators .active{
  background-color: white !important;
} 

.carousel-info {
  width: 100%;
  height: 500px;
}

.worker {

}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  color: #2FB356;
  font-weight: bold;
  font-size: 24px;
  margin: 0px;
}

.content {
  color: #808080;
  margin: 0px;
  font-size: 1.2em;
  text-align: justify;
}

.content-steps {
  color: #808080;
  margin: 0px;
  font-size: 1.2em;
  text-align: justify;
  margin-bottom: 15px;
}


.hidden-new-app-container {
  display: none !important;
}

.new-app-image-container {
  
}

@media (max-width: 575.98px) {
  .content {
    font-size: 16px !important;
  }
  .content-steps {
    font-size: 16px !important;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
  .hidden-new-app-container {
    display: block !important;
    margin-bottom: 30px;
  }
  .new-app-image-container {
    display: none !important;
  }
}

@media (max-width: 767.98px) { 
  .left-right-side {
    display: none;
  }
  .icon {
    width: 20%;
    height: 20%;
  }
  .carousel-info {
    height: 250px;
  }
  .news-title {
    font-size: 1rem;
  }
}

@media (max-width: 991.98px) { 
  .worker {
    margin-bottom: 30px !important;
  }
  .content {
    margin-bottom: 30px;
  }
}

